<html>
    <head>
    </head>
    <body>
        <form method="post" action="{% url 'edit_employee_details' employee.id %}">
            {% csrf_token %}
            <label>Employee Name</label>
            <input type="text" name="emp_name" value="{{employee.employee_name}}"><br>
            <label>Department</label>
            <input type="text" name="dept_name" value="{{employee.department}}"><br>
            <label>Age</label>
            <input type="text" name="age" value="{{employee.age}}"><br>
            <label>Email</label>
            <input type="text" name="email" value="{{employee.email}}"><br>
            <label>Contact number</label>
            <input type="text" name="contact_num" value="{{employee.contact_number}}"><br>
            <Button type="submit">Update</Button>
        </form>
    </body>
</html>